.header-container {
    width: 100%;
    height: 3rem;
    background-color: rgb(26, 2, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    
}

.nav-link{
    text-decoration: none;
    padding: 0.5rem;
    color: #fff;
}

.logo{
    color: #fff;
    font-family: "Art Maria";
}